@import "tailwindcss";

html, body {
  background-color: #0a0a0a;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #0a0a0a, #171717, #0a0a0a);
}

@theme {
  --color-brand-green: #A3E635;
  --color-brand-green-dark: #4A5A2B;
  --color-brand-green-hover: #92cf30;

  --color-brand-bg-dark: #1C1C1C;
  --color-brand-bg-light: #1C1C1C;
  --color-brand-bg-border: #2A2A2A;

  --color-brand-text-light: #E0E0E0;
  --color-brand-text-dark: #1A1A1A;
  --color-brand-text-dim: #B2B4AE;

  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --container: 500px;
}

* { scrollbar-width: thin; scrollbar-color: #2A2A2F transparent; }
*::-webkit-scrollbar { height: 8px; width: 8px; }
*::-webkit-scrollbar-thumb { background: #2A2A2F; border-radius: 9999px; }

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b82f6, #2563eb);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2563eb, #1d4ed8);
}